@use '../../../../../styles/_breakpoints' as *;

// Wrapper for top section
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}
.top-section::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 65%;
  height: 60%;
  border-radius: 50%;
  background: radial-gradient(
    circle, 
    rgba(149, 58, 253, 0.3) 20%,  
    rgba(0, 162, 255, 0.555) 40%,  
  );
  filter: blur(100px);
  transform: translate(-50%, -50%);
  animation: glowing 3s infinite alternate;
  z-index: -1;
}
// Hero sub section styles
.hero {
  margin-top: 40px;
  text-align: center;
}
.hero h1 {
  font-size: 70px;
  font-weight: bold;
}
.hero p {
  font-size: larger;
}
// Actions sub section styles 
#actions {
  margin: 15px;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}
.digital-asset-card {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  width: 20%; 
  margin: 5%;
}
.digital-asset-card img {
  border-radius: 50%; 
  margin-bottom: 20px;
  width: 60%;
  animation: floatAnimation 3s infinite linear;
}
.digital-asset-card h2 {
  margin-bottom: 0;
  font-weight: bold;
}
.digital-asset-card p {
  font-size: small;
}
.digital-asset-card button {
  margin-top: 10px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  background-color: rgba(71, 25, 114, 0.8);
  transition: transform 0.3s ease-in-out;
}
.digital-asset-card button:hover {
  transform: scale(1.08);
  color: var(--hover-blue);
}

// Informed decision styles
.informed-decision {
  text-align: center;
  position: relative;
}
.informed-decision div {
  justify-content: center;
  display: flex; 
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: larger;
}
.informed-decision h2 {
  font-weight: bold;
  font-size: 35px;
}

// How it works section styles
.how-it-works {
  text-align: center;
  position: relative;
}
.how-it-works h2 {
  font-weight: bold
}
.how-it-works .steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.step {
  flex: 1 1 25%;
  padding: 20px;
  background: linear-gradient(
    to right, 
    rgba(18, 37, 63),
    rgba(18, 50, 77),
    rgba(21, 51, 85),
    rgba(23, 49, 88),
    rgba(25, 61, 109),
    rgba(23, 68, 109)
  );
  border-radius: 20px;
}
.steps {
  margin-top: 30px
}

// Features section styles
.features {
  text-align: center;
  padding: 40px 20px;
  position: relative;
  background: linear-gradient(
    to right, 
    rgba(0, 162, 255, 0.35),
    rgba(71, 25, 114, 0.5)
  );
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.features h2 {
  font-weight: bold;
  margin-bottom: 50px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.feature {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  border-left: 2px solid rgba(255, 255, 255, 0.3);  
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);   
}
.feature:hover {
  transform: translateY(-10px);
  background-color: rgba(176, 243, 255, 0.2);
}
.feature-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.feature p {
  font-weight: bold;
}

// Call to action styles
.cta {
  background: linear-gradient(
    to right, 
    rgba(0, 162, 255, 0.35),
    rgba(71, 25, 114, 0.5)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 3s infinite alternate;
  font-weight: bold;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

// General styles
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.blue-gradient-button {
  font-size: x-large;
  font-weight: bold;
  padding: 25px 40px;
  margin-top: 30px;
  background: linear-gradient(
    to right, 
    rgba(18, 37, 63),
    rgba(18, 50, 77),
    rgba(21, 51, 85),
    rgba(23, 49, 88),
    rgba(25, 61, 109),
    rgba(23, 68, 109)
  );
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.blue-gradient-button:hover {
  transform: scale(1.1);
  color: var(--hover-blue);
}

// Responsive design
@media (max-width: $breakpoint-xl) {
  .hero p {
    font-size: large;
  }
  .digital-asset-card {
    width: 30%;
  }
  .hero h1 {
    font-size: 60px;
  }
}
@media (max-width: $breakpoint-lg) {
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: medium;
  }
  .informed-decision div {
    font-size: medium;
  }
  .informed-decision h2 {
    font-size: 30px;
  }
}
@media (max-width: $breakpoint-md) {
  .hero h1 {
    font-size: 40px;
  }
  .digital-asset-card {
    margin: 10%;
    width: 60%;
  }
  .digital-asset-card h2 {
    font-size: xx-large;
  }
  .digital-asset-card p {
    font-size: smaller;
  }
  .features h2 {
    font-size: xx-large;
  }
  .cta h2 {
    font-size: xx-large;
  }
}
@media (max-width: $breakpoint-sm) {
  #actions {
    flex-direction: column; 
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: smaller;
  }
  .digital-asset-card {
    width: 75%;    
  }
  .informed-decision div {
    font-size: small;
  }
  .informed-decision h2 {
    font-size: 20px;
  }
  .how-it-works .steps {
    flex-direction: column;
  }
  .how-it-works h2 {
    font-size: xx-large;
  }
  .step h3 {
    font-size: x-large;
  }
  .step p {
    font-size: smaller;
  }
  .features h2 {
    font-size: x-large;
  }
  .cta h2 {
    font-size: x-large;
  }
  .hero h1 {
    font-size: 25px;
  }
  .informed-decision h2 {
    font-size: 15px;
  }
}

// Animations
@keyframes glowing {
  0% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}