@use '../../../../../../styles/_breakpoints' as *;

button[mat-menu-item]:hover {
    background-color: rgba(207, 207, 207, 0.4);
}
.mobile-account-btn {
    display: none;
}
.mobile-account-btn:hover {
    color: var(--hover-blue);
}
.pc-account-btn:hover {
    color: var(--hover-blue);
}
.chain-selector {
    text-align: center;
}
.chain-selector p {
    color: rgb(192, 192, 192);
    font-size: medium;
}
.connect-wallet {
    font-size: medium;
    font-weight: bold;
}
.connect-wallet:hover {    
    color: var(--hover-blue);    
}
.chain-content {
    display: inline-flex;
    align-items: center; 
    gap: 10px;
    font-size: x-large; 
}
.chain-content:hover {
    color: var(--hover-blue);
}

/* Responsive Design */
@media (max-width: $breakpoint-sm) {
    .pc-account-btn {
        display: none;
    }
    .mobile-account-btn {
        display: block;
    }
}
