<!-- Account Icon Button - mobile -->
<button mat-icon-button aria-label="Account menu" color="primary" class="mobile-account-btn"
    [matMenuTriggerFor]="accountMenu" *ngIf="accountSrv.getAccount()">
    <mat-icon>account_circle</mat-icon>
</button>
<!-- Account Button - pc -->
<button mat-button aria-label="Account menu" color="primary" class="pc-account-btn"
    [matMenuTriggerFor]="accountMenu" *ngIf="accountSrv.getAccount()">
    <mat-icon>account_circle</mat-icon>
    <span>{{shortenPubKey(accountSrv.getAccount()?.pubKey || '')}}</span>
</button>

<!-- General Connect Wallet -->
<button mat-button aria-label="Connect Wallet" color="primary" class="connect-wallet" 
    [matMenuTriggerFor]="bChainSelectorMenu" *ngIf="!accountSrv.getAccount()">
    <span>Connect Wallet</span>
</button>


<!-- Dropdown Account Menu -->
<mat-menu #accountMenu="matMenu">
    <button mat-menu-item [routerLink]="['/profile/transaction-history']">Transaction History</button>
    <button class="m-10" mat-raised-button color="warn" (click)="disconnectWallet()">Disconnect Wallet</button>
</mat-menu>

<!-- Dropdown Select Blockchain Menu -->
<mat-menu #bChainSelectorMenu="matMenu">
    <div class="chain-selector">
        <p>Choose Blockchain</p>
        @for (bChain of bChains; track bChain) {
            <button class="m-10" mat-button color="primary" (click)="connectWallet(bChain.symbol)">
                <div class="chain-content">
                    <img [src]="bChain.logo" alt="{{ bChain.name }} logo" title="{{ bChain.name }} logo" width="30" height="30" loading="lazy"/>
                    <span>{{ bChain.name.length > 9 ? bChain.symbol : bChain.name }}</span>
                </div>
            </button>
        }
    </div>
</mat-menu>
