<h3 *ngIf="title" class="title">{{title}}</h3>
<!-- Center the blockchain selector -->
<div class="blockchain-selection-container">
  <!-- Blockchain selection container -->
  <div class="blockchain-selection" #selectionContainer>
    <!-- Scroll Container -->
    <div class="scroll-container" #scrollContainer>
      <!-- Blockchain cards -->
      <mat-card *ngFor="let chain of blockchains" 
        class="card" 
        (click)="selectBlockchain(chain.symbol)" 
        [ngClass]="{'selected': isSelected(chain.symbol)}"
        [attr.data-symbol]="chain.symbol">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="chain.logo" alt="{{ chain.name }} logo" width="40" height="40" />
          </div>
          <mat-card-title>{{ chain.name.length > 9 ? chain.symbol : chain.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="h100">
          <div class="h100 flx-col-space-between">
            <p>{{ chain.description }}</p>
            <div *ngIf="chain.estFee">
              <span style="font-size: smaller;">Est. Fee:</span>
              <p>{{ chain.estFee }} {{ chain.coin }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>