@use '../../../../../styles/_breakpoints' as *;

.title {
  text-align: center;
}
.blockchain-selection-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blockchain-selection {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background-color: rgba(0, 0, 0, 0.5);
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 24px 0;
}
mat-card.card {
  flex: 0 0 auto;
  width: 180px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: rgba(23, 68, 109);
}
mat-card.card.selected {
  border: 2px solid rgb(0, 153, 255);
  box-shadow: 0 0 20px rgb(0, 153, 255);
  transform: scale(1.05);
}
mat-card.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}
.h100 {
  height: 100%;
}
.flx-col-space-between {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}
.est-fee {
  font-size: smaller;
}
.loading-spinner {
  margin: 0 auto;
}

/* Responsive design */
@media (max-width: $breakpoint-sm) {
  .title {
    font-size: x-large;
  }
}