<!-- Title section -->
<section class="title">
  <h2>Token Minting or Bridging</h2>
</section>

<!-- Actions section -->
<section id="actions">
    <!-- Mint -->
    <div class="action-card">
      <img src="/images/minting-logo.png" alt="Mint">
      <h2>Mint</h2>
      <p>Mint tokens across multiple blockchains.</p>
      <button mat-raised-button color="primary" routerLink="/token/mint">Mint Now</button>
    </div>

    <div></div>
    
    <!-- Bridge -->
    <div class="action-card">
      <img src="/images/bridging-logo.png" alt="Bridge">
      <h2>Bridge</h2>
      <p>Bridge tokens across multiple blockchains.</p>
      <button mat-raised-button color="primary" routerLink="/token/bridge" [disabled]="true">Coming Soon</button>
    </div>
</section>