@use '../../../../../styles/_breakpoints' as *;

// Title section styling
.title {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.title img {
  width: 70px;
}
.title div h1 {
  font-size: 35px;
  font-weight: bold;
}

// Actions section styles 
#actions {
  margin: 15px;
  margin-bottom: 100px;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.action-card {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  width: 25%; 
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(
    to right, 
    rgb(32, 18, 63),
    rgb(39, 18, 77),
    rgb(49, 21, 85),
    rgb(48, 23, 88),
    rgb(64, 25, 109),
    rgb(60, 23, 109)
  );
}
.action-card img {
  border-radius: 50%; 
  margin-bottom: 20px;
  width: 50%;
}
.action-card-animation img {
  animation: floatAnimation 2.5s infinite linear;
}
.action-card h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.action-card p {
  font-size: medium;
  color: rgba(255, 255, 255, 0.8);
}
.action-card button {
  margin-top: 15px; 
  width: 100%; 
  font-size: large;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: rgb(21, 67, 85);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.action-card button:hover {
  transform: scale(1.1);
  color: var(--hover-blue);
}
.action-card button:disabled {
  background-color: rgba(21, 67, 85, 0.4);
  cursor: not-allowed;
}

// Responsive design
@media (max-width: $breakpoint-xl) {
  .action-card {
    width: 30%;
  }
}
@media (max-width: $breakpoint-md) {
  .action-card {
    width: 50%;
  }
  .title div h1 {
    font-size: 30px;
  }
}
@media (max-width: $breakpoint-sm) {
  #actions {
    flex-direction: column;
    gap: 20px;
  }
  .action-card {
    width: 80%;
  }
  .title div h1 {
    font-size: 24px;
  }
  .title {
    flex-direction: column;
  }
  .title img {
    width: 30%;
  }
}