<div class="flx-col-center m-y20">
  <h3>Provide Token Details</h3>

  <form [formGroup]="tokenForm" class="flx-col-center">
    <!-- Name -->
    <mat-form-field appearance="fill" class="w100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="tokenForm.get('name')?.hasError('required')">Name is required.</mat-error>
      <mat-error *ngIf="tokenForm.get('name')?.hasError('maxlength')">Name cannot be longer than 32 characters.</mat-error>
    </mat-form-field>

    <!-- Symbol -->
    <mat-form-field appearance="fill" class="w100">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" required>
      <mat-error *ngIf="tokenForm.get('symbol')?.hasError('required')">Symbol is required.</mat-error>
      <mat-error *ngIf="tokenForm.get('symbol')?.hasError('maxlength')">Symbol cannot be longer than 10 characters.</mat-error>
    </mat-form-field>

    <!-- Media File Upload -->
    <div class="w100 mb-20">
      <mat-expansion-panel [expanded]="true" class="w100 pt-15 mt-10"
        [ngStyle]="{ 'border-bottom': tokenForm.get('media')?.hasError('required') ? '1px solid red' : 'none' }">
        <mat-label>Token Icon*</mat-label>
        <br>
        <button mat-button color="primary" (click)="fileInput.click()">
          <mat-icon>{{ this.tokenForm.get('media')?.value ? 'refresh' : 'upload' }}</mat-icon>
          {{this.tokenForm.get('media')?.value ? 'Change File' : 'Choose File'}}
        </button>
        <input #fileInput type="file" (change)="onFileChange($event)" hidden accept=".jpeg,.jpg,.png,.gif,.svg,.webp,.mp4,.mov,.webm,.mp3,.wav,.flac,.aac,.glb,.obj">
        <mat-card *ngIf="selectedFileName" class="selected-file-card">
          <mat-card-content class="flx-row-center">
            {{ selectedFileName }}
            <button mat-icon-button color="warn" (click)="clearSelectedFile()" aria-label="Remove file">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
      <mat-error class="media-error" *ngIf="tokenForm.get('media')?.hasError('required')">Token icon is required.</mat-error>
    </div>

    <!-- Expansion Panel for Advanced Settings -->
    <mat-accordion class="w100">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Token Supply -->
        <mat-form-field appearance="fill" class="w100">
          <mat-label>Token Supply (in Smallest Units)</mat-label>
          <div class="flx-row-center">
            <input matInput type="number" formControlName="supply">
            <button mat-icon-button matTooltip="Supply is in the smallest units. For example, if decimals are 0 and supply is 10, then 10 tokens are created. If decimals are 4 and supply is 10, then 0.0010 tokens are created." matTooltipPosition="right">
              <mat-icon>info</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="tokenForm.get('supply')?.hasError('min')">Supply must be at least 1.</mat-error>
          <mat-error *ngIf="tokenForm.get('supply')?.hasError('max')">Supply cannot be more than 1e19.</mat-error>
          <mat-error *ngIf="tokenForm.get('supply')?.hasError('pattern')">Only whole numbers allowed.</mat-error>        
        </mat-form-field>
        
        <!-- Token decimals -->
        <mat-form-field appearance="fill">
          <mat-label>Token Decimals</mat-label>
          <div class="flx-row-center">
            <input matInput type="number" formControlName="decimals">
            <button mat-icon-button matTooltip="The number of decimals each token should have" matTooltipPosition="right">
              <mat-icon>info</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="tokenForm.get('decimals')?.hasError('min')">Decimals must be 0 or greater.</mat-error>
          <mat-error *ngIf="tokenForm.get('decimals')?.hasError('max')">Decimals cannot be more than 9.</mat-error>
          <mat-error *ngIf="tokenForm.get('decimals')?.hasError('pattern')">Only whole numbers allowed.</mat-error>        
        </mat-form-field>
        
        <!-- Description -->
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <!-- External Link -->
        <mat-form-field appearance="fill">
          <mat-label>External Link</mat-label>
          <input matInput formControlName="externalLink">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
