@use '../styles/_breakpoints' as *;

/* Use flexbox for the entire app layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.content {
    flex: 1;
}

// Navbar styles
.navbar-container {
    position: fixed;
    z-index: 2;
}
.navbar-inner {
    display: flex; 
    justify-content: space-between;
}
.nav-buttons {
    font-size: medium;
}
.nav-buttons:hover {
    color: var(--hover-blue);
}
.menu-icon {
    display: none;
}
.logo {
    font-size: x-large;
    font-weight: bold;
}
.site-logo-inner-wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.logo:hover {
    color: var(--hover-blue);
}
.sidenav {
    position: fixed;
    width: 65%;
    height: 100vh;
}
.sidenav-content {
    display: flex;
    flex-direction: column;
}
.sidenav-content button:hover {
    color: var(--hover-blue);
}
.sidenav-header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

// Footer styles
.footer {
    background: linear-gradient(to right, rgba(0, 33, 53, 0.2), rgba(28, 7, 46, 0.4));
    color: white;
    padding: 30px 20px;
    text-align: center;
    position: relative;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.footer-site-logo {
    justify-content: center;
}
.footer-site-logo span {
    font-size: xx-large;
}
.footer-links {
    display: flex;
    gap: 15px;
}
.footer-links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.footer-links a:hover {
    color: rgba(0, 162, 255, 0.8);
}

// General styles
.mw-1600 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* Responsive design */
@media (max-width: $breakpoint-md) {
    .site-logo-wrapper button div img {
        display: none;
    }
    .logo {
        font-size: large;
    }
}
@media (max-width: $breakpoint-sm) {
    .nav-buttons {
        display: none;
    }
    .site-logo-wrapper {
        display: none;
    }
    .menu-icon {
        display: inline-flex;
    }
    .footer-links {
        flex-direction: column;
    }
}
@media (max-width: $breakpoint-xs) {
    .sidenav {
        width: 100%;
    }
}