@use '../styles/_breakpoints' as *;

/* Use flexbox for the entire app layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.content {
    flex: 1;
}

// Navbar styles
.navbar-container {
    position: fixed;
    z-index: 2;
}
.navbar-inner {
    display: flex; 
    justify-content: space-between;
}
.nav-buttons {
    font-size: medium;
}
.nav-buttons:hover {
    color: var(--hover-blue);
}
.menu-icon {
    display: none;
}
.logo {
    font-size: x-large;
    font-weight: bold;
}
.site-logo-inner-wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.logo:hover {
    color: var(--hover-blue);
}
.sidenav {
    position: fixed;
    width: 65%;
    height: 100vh;
}
.sidenav-content {
    display: flex;
    flex-direction: column;
}
.sidenav-content button:hover {
    color: var(--hover-blue);
}
.sidenav-header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

// Footer styles
.footer {
    background: linear-gradient(to right, rgba(0, 33, 53, 0.4), rgba(28, 7, 46, 0.6));
    color: white;
    padding-top: 30px;
    text-align: center;
    position: relative;
}
.footer-detailed {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr; 
}
.footer-site-logo {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-site-logo span {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 10px;
}
.footer-col-title {
    font-weight: bold;
    font-size: x-large;
}
.footer-link {
    text-decoration: none;
    color: white;
}
.footer-link:hover {
    color: rgba(0, 162, 255, 0.8);
}
.footer-copyright {
    background-color: rgba(39, 39, 39, 0.212);
    padding: 10px;
}
.footer-socials {
    gap: 10px;
    justify-content: center;
}
.footer-social {
    transition: transform 0.2s ease-in-out;
}
.footer-social:hover {
    transform: scale(1.15);
}

// General styles
.mw-1600 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.hover-blue {
    color: var(--hover-blue) !important;
}

/* Responsive design */
@media (max-width: $breakpoint-md) {
    .site-logo-wrapper button div img {
        display: none;
    }
    .logo {
        font-size: large;
    }
}
@media (max-width: $breakpoint-sm) {
    .nav-buttons {
        display: none;
    }
    .site-logo-wrapper {
        display: none;
    }
    .menu-icon {
        display: inline-flex;
    }
    .footer-detailed {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-contact {
        order: 1;
    }
    .footer-useful-links {
        order: 2;
    }
    .footer-pages {
        order: 3;
    }
}
@media (max-width: $breakpoint-xs) {
    .sidenav {
        width: 100%;
    }
}