@use '../../../../../../styles/_breakpoints' as *;

mat-form-field {
    display: flex;
    flex-direction: column;
}
.selected-file-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media-error {
    font-size: small;
    margin-left: 15px;
}
span {
    display: block;
    color: white;
}
.flx-col-center {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.flx-row-center {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
form {
    width: 70%;
}
.w100 {
    width: 100%;
}
.m-y20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.margin-auto {
    margin-left: auto;
}  
.clear-data { 
    display: flex; 
    width: 70%; 
    position: absolute;
}
.add-attribute-btn {
    background-color: rgba(58, 58, 58, 0.438)
}
mat-expansion-panel {
    background: linear-gradient(
        to right, 
        rgba(18, 37, 63),
        rgba(18, 50, 77),
        rgba(21, 51, 85),
        rgba(23, 49, 88),
        rgba(25, 61, 109),
        rgba(23, 68, 109)
    );
}
.creation-timestamp {
    display: none;
}

/* Responsive design */
@media (max-width: $breakpoint-sm) {
    form {
        width: 90%;
    }
    h3 {
        font-size: x-large;
    }
    mat-card-content {
        font-size: small;
    }
}