<mat-horizontal-stepper (selectionChange)="onStepChange($event)" linear>
  <!-- Step 1 -->
  <mat-step [completed]="this.nftSrv.stepCompleted('step1')">
    <ng-template matStepLabel>Add Metadata</ng-template>
    <!-- Metadata form component -->
    <app-nft-metadata></app-nft-metadata>
    <!-- Next step button -->
    <div class="w100 flx-row-center">
      <button mat-raised-button matStepperNext color="primary" class="mt-10 pr-10 flx-row-center next-btn"
        [disabled]="!this.nftSrv.stepCompleted('step1')">
        Next <mat-icon class="next-btn-icon">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [completed]="this.nftSrv.stepCompleted('step2')">
    <ng-template matStepLabel>Select Blockchain</ng-template>
    <!-- Blockchain selector component -->
    <app-blockchain-selector [title]="'Select Blockchain to Mint NFT'"
      [suportedBlockchains]="['ETH', 'SOL', 'MATIC', 'ADA', 'AVAX', 'ALGO']"
      (blockchainSelected)="onBlockchainSelected($event)">
    </app-blockchain-selector>
    <!-- Next step button -->
    <div class="w100 flx-row-center">
      <button mat-raised-button matStepperNext color="primary" class="mt-10 pr-10 flx-row-center next-btn"
        [disabled]="!this.nftSrv.stepCompleted('step2')">
        Next <mat-icon class="next-btn-icon">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [completed]="this.nftSrv.stepCompleted('step2')"> <!-- TODO Change step2 to step3 -->
    <ng-template matStepLabel>Overview & Mint</ng-template>
    <div class="w100 flx-col-center">
      <h3>Overview</h3>
      <app-nft-preview class="w100" [nftMetadata]="this.nftSrv.getStepData('step1')"></app-nft-preview>
      
      <h3>Mint</h3>

    </div>
    <!-- Next step button -->
    <div class="w100 flx-row-center">
      <button mat-raised-button matStepperNext color="primary" class="mt-10 pr-10 flx-row-center next-btn"
        [disabled]="!this.nftSrv.stepCompleted('step2')"> <!-- TODO Change step2 to step3 -->
        Next <mat-icon class="next-btn-icon">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>