.media-width {
    width: 300px;
}
.media-height {
    height: 300px;
}
.mt-15 {
    margin-top: 15px;
}
.mr-10 {
    margin-right: 10px;
}
.fs-m {
    font-size: medium;
}
.fs-s {
    font-size: small;
}
mat-icon {
    vertical-align: middle; 
    color: gray; 
    margin-right: 8px;
}