<!-- Feedback form -->
<mat-dialog-content *ngIf="!submitted" class="linear-gray">
  <div class="dialog-header">
    <span>Rate Your Experience</span>
    <button mat-icon-button aria-label="Close dialog" color="primary" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="flx-col">
    <star-rating class="m-y-10"
      [starType]="'svg'"
      (starClickChange)="onRatingChanged($event)"
    ></star-rating>

    <p>Please share your thoughts on this platform. Would you use it on mainnet? What improvements would make it better for you?</p>

    <mat-form-field appearance="fill">
      <mat-label>Feedback (Optional)</mat-label>
      <textarea matInput [(ngModel)]="feedbackData.feedback"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<!-- Thank You Message -->
<mat-dialog-content *ngIf="submitted" class="linear-gray">
  <div class="txt-center"><h3>Thank You for Your Feedback!</h3></div>
</mat-dialog-content>

<!-- Submit button -->
<mat-dialog-actions class="flx-center linear-gray" *ngIf="!submitted">
  <button mat-raised-button color="primary" (click)="submit()" class="submit-btn" [disabled]="feedbackData.rating < 0">Submit</button>
</mat-dialog-actions>
