/* You can add global styles to this file, and also import other style files */
@use './styles/_breakpoints' as *;
@use 'css-star-rating/scss/star-rating';
@use '@angular/material' as mat;
@include mat.core();

:root {
  --hover-blue: rgb(0, 204, 255);
}

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette
  )
));

:root {
  @include mat.all-component-themes($dark-theme);
}

.h100 {
  height: 100%;
}
.m-10 {
  margin: 10px;
}
.walletconnect-modal__base { // Change the size of the default wallet connect popup "dialog"
  width: 300px;
}
.right-purple-light {
  position: relative;
}
.right-purple-light::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%; 
  transform: translate(-50%, -50%);
  right: -45%;
  width: 30%;
  height: 100%;
  border-radius: 30%;
  background-color: rgb(148, 61, 247); 
  filter: blur(150px);
}
.left-blue-light{
  position: relative;
}
.left-blue-light::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%; 
  transform: translate(-50%, -50%);
  left: -25%;
  width: 50%;
  height: 100%;
  border-radius: 30%;
  background-color: rgba(0, 162, 255);
  filter: blur(150px);
}
.flx {
  display: flex;
}
.flx-col {
  flex-direction: column;
}
.flx-row {
  flex-direction: row;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Responsive Design */
@media (max-width: $breakpoint-sm) {
    .walletconnect-modal__base { // Change the size of the default wallet connect popup "dialog"
        width: 200px;
    }
}

// Animation(s)
@keyframes floatAnimation {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}.right-purple-light {
  position: relative;
}
.right-purple-light::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%; 
  transform: translate(-50%, -50%);
  right: -45%;
  width: 30%;
  height: 100%;
  border-radius: 30%;
  background-color: rgb(148, 61, 247); 
  filter: blur(150px);
}
.left-blue-light{
  position: relative;
}
.left-blue-light::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%; 
  transform: translate(-50%, -50%);
  left: -25%;
  width: 50%;
  height: 100%;
  border-radius: 30%;
  background-color: rgba(0, 162, 255);
  filter: blur(150px);
}