<div *ngIf="completed; else showLoading">
  <!-- Display the transaction-->
  <div *ngIf="transaction; else noData" class="left-blue-light right-purple-light">
    <ng-container *ngTemplateOutlet="singleTransaction"></ng-container>
  </div>

  <!-- No data available -->
  <ng-template #noData>
    <div class="no-data-container">
      <h3>Transaction not found</h3>
      <button mat-raised-button color="primary" routerLink="/profile/transaction-history">All Transaction History</button>
    </div>
  </ng-template>
</div>
<!-- Loading spinner -->
<ng-template #showLoading>
    <mat-progress-spinner class="loading-spinner" diameter="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-template>

<!-- Display transaction details -->
<ng-template #singleTransaction>
  <div class="transaction-details" *ngIf="transaction">
    <h1>Transaction Details</h1>

    <p><strong>Transaction ID:</strong> <span>{{ transaction.id }}</span></p>
    <p><strong>Operation Type:</strong> <span>{{ transaction.operationType }}</span></p>
    <p><strong>Asset Type:</strong> <span>{{ transaction.assetType }}</span></p>
    <p><strong>Blockchain:</strong> <span>{{ transaction.blockchain }}</span></p>
    <p><strong>PubKey:</strong> <span>{{ transaction.paymentPubKey }}</span></p>
    <p><strong>Payment Amount:</strong> <span>{{ transaction.paymentAmount }}</span></p>
    <p><strong>Date:</strong> <span>{{ transaction.date | date:'short' }}</span></p>

    <!-- Mint Transaction Histories -->
    <div class="mint-history" *ngIf="transaction?.MintTxHistories?.length">
      <h3>Mint Transaction Details</h3>

      <div *ngFor="let mint of transaction.MintTxHistories">
        <p><strong>Mint Tx ID:</strong> <span>{{ mint.id }}</span></p>
        <p><strong>Payment:</strong> <span>{{ mint.paymentTxSignature }}</span></p>

        <!-- Reward Transactions -->
        <div class="reward-transactions" *ngIf="mint?.rewardTxs?.length">
          <h4>Reward Transactions:</h4>
          <ul>
            <li *ngFor="let reward of mint?.rewardTxs"> 
              <p><strong>Detail:</strong> <span>{{ reward?.txSignature }}</span></p>
              <p><strong>Type:</strong> <span>{{ reward?.type }}</span></p>
            </li>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</ng-template>
