<div *ngIf="!walletService.selectedWallet?.publicKey">
    <h3>Select a Wallet</h3>
    <button
        *ngFor="let wallet of walletService.availableWallets"
        (click)="walletService.connectWallet(wallet)"
        [disabled]="wallet.readyState !== 'Installed'"
    >
        {{ wallet.name }}
    </button>
</div>

<div *ngIf="walletService.selectedWallet?.publicKey as pubkey">
    <p>Connected Wallet: {{ pubkey.toBase58() }}</p>
    <button (click)="walletService.disconnectWallet()">Disconnect</button>
</div>

<div>
    <button (click)="requestPayment()">Request Payment</button>
</div>
